* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background-image: url("../images/background-01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 16%;
}
#menu-strip {
	background-color: rgba(0,0,0,.2);
	overflow: hidden;
	margin-bottom: 10%;
}
.mltr {
	margin-left: 10%;
	margin-right: 10%;
}
#logo {
	float: left;
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}
#logo h2 {

}
#menu {
	float: right;
	color: white;
	text-align: center;
	padding-top: 2%;
	width: 41%;
	margin-right: -4%;
}
#menu a {
	color: white;
	text-decoration: none;
	margin-right: 3%;
}
#donec {

}
#donec h2 {

	font-size: 2em;
}
#donec p {

	width: 54%;
	padding-top: 1%;
	padding-bottom: 2%;
}
.button {
	color: white;
	background-color: red;
	padding: 1%;
	border: transparent;
}
.button:hover {
	background-color: blue;
}
.button2 {
	background-color: transparent;
	border: 1px solid black;
}
.button2:hover {
	background-color: blue;
}
/*header stop*/
/*nisi start*/
#nisi {

	margin-top: 7%;
}
#nisi-head {
	text-align: center;
}
.mltr {

}
#nisi-head h3 {

}
#nisi-head p {

}
.nisi-box {

	width: 23%;
	float: left;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
}
.nisi-icon {

}
.nisi-icon i {

	font-size: 38px;
	margin-left: 43%;
	margin-top: 7%;
}
.nisi-box h4 {

	text-align: center;
	margin-top: 2%;
}
.nisi-box p {

	margin-top: 4%;
	text-align: center;
}
.nisi-button {

	background-color: red;
	color: white;
	border: transparent;
	padding: 2%;
}
.nisi-img {

	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.nisi-img img {
	
	width: 100%;
	overflow: hidden;
}
/*nisi stop*/
/*tempor start*/
#tempor {
	background-image: url("../images/background-02.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	overflow: hidden;
	background-position: center;
}
#black-layer {
	
	overflow: hidden;
	padding-bottom: 10%;
	background-color: rgba(242, 62, 62, 0.45);
}
.mltr {

}
#tempor-head {

	text-align: center;
	color: white;
	padding-top: 5%;
	font-size: 20px;
	margin-bottom: 3%;
}
#tempor-head h3 {

}
#tempor-head p {

}
.tempor-box {

	width: 29%;
	color: #0e0d0d;
	float: left;
	margin-top: 3%;
	font-size: 22px;
	background-color: white;
	text-align: center;
	margin-right: 2%;
	padding-top: 1%;
	position: relative;
	margin-left: 2%;
}
.tempor-icon {

}
.tempor-icon i {

	background-color: red;
	font-size: 1em;
	width: 14%;
	height: 43px;
	line-height: 43px;
	position: relative;
	top: -36px;
}
.tempor-box h4 {

	color: red;
	margin-top: -21px;
}
.tempor-box p {

}
/*tempor stop*/
/*magna start*/
#magna {

	margin-top: 5%;
	overflow: hidden;
	margin-bottom: 5%;
}
#magna-img {

	width: 42%;
	margin-left: 5%;
	float: left;
}
#magna-img img {
	
	width: 100%;
}
.magna-big-box {
	
	width: 45%;
	float: right;
	margin-right: 5%;
}
#magna-head {

}
#magna-head h4 {

}
#magna-head h3 {

}
#magna-head p {

}
.magna-box {
	
}
.magna-icon {

	width: 33%;
	float: right;
	font-size: 21px;
	margin-top: 5%;
	margin-bottom: 6%;
}
.magna-icon i {

	font-size: 2em;
	color: #d13535;
}
.magna-icon-text {

}
.magna-icon-text h3 {

}
.magna-icon-text p {

}
.magna-box p {
	
}
.magna-button {

	background: red;
	border: transparent;
	padding: 2%;
	color: white;
}
/*magna stop*/
/*blandit start*/
#blandit {

	overflow: hidden;
	background-image: url(../images/background-03.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 8%;
	padding-top: 5%;
	padding-bottom: 8%;
	margin-bottom: 5%;
	background-position: center;
}
.blandit-head {

	width: 45%;
	float: left;
	margin-left: 2%;
}
.blandit-head h3 {
	
	font-size: 27px;
	margin-bottom: 2%;
	color: white;
}
.blandit-button {

	margin-top: 2%;
	background: red;
	border: transparent;
	padding: 3%;
	color: white;
}
.blandit-img {

	width: 45%;
	float: right;
	margin-right: 5%;
}
.blandit-img img {

}
/*blandit stop*/
/*hickory start*/
#hickory {

	clear: both;
	margin-bottom: 5%;
	overflow: hidden;
}
.hickory-img {

	width: 20%;
	float: left;
	margin-left: 4%;
}
.hickory-img img {
	
	width: 100%;
}
/*hickory stop*/
/*footer start*/
footer {

	background-image: url("../images/background-04.jpg");
}
.footer-box1 {

	width: 25%;
	float: left;
	color: white;
	margin-left: 6%;
	margin-top: 5%;
}
.footer-head {

}
.footer-head h3 {

}
.footer-head p {

}
.about {

	margin-top: 10%;
}
.about i {

	color: red;
	margin-right: 5%;
}
.about a {
	
	text-decoration: none;
	color: white;
	margin-right: 5%;
}
.footer-icon {

}
.footer-icon i {

}
.footer-head {

}
.footer-head h3 {

	margin-bottom: 10%;
}
.footer-head img {

}
.text-red {
	
	color: red;
}
.footer-box2 {

}
.black-layer {
	
}
/*footer stop*/